.session {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  border: 1px solid $xcraft-secondary-color;

  &--venue {
    border-bottom: 1px dotted $xcraft-secondary-color;
    padding: 5px 2px;
  }

  &--room {
    font-weight: 700;
  }

  &--timming {
    font-weight: 400;
  }

  &--duration {
    display: flex;
    position: absolute;
    top: 3px;
    right: 5px;
  }

  &--duration-icon {
    display: none;
  }

  &--abstract {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }

  &--title {
    text-align: center;
    font-size: 1.1rem;
  }

  &--speakers {
    display: flex;
    flex-wrap: wrap;
    gap: 0 10px;
    justify-content: center;
    margin-top: 5px;
    list-style-type: none;
  }

  &--speaker {
    list-style-type: none;
    text-align: center;
    font-weight: 500;
  }

  @media screen and ($horizontal-phone-media) {
    &.-workshop {
      height: 507px;
    }

    &.-talk {
      height: 250px;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    border-radius: 5px;

    &--venue {
      flex-direction: column;
      flex-grow: 0;
      flex-shrink: 0;
      border-right: 1px dotted $xcraft-secondary-color;
      border-bottom: 0;
      padding: 5px 10px;
      width: 80px;
    }

    &--speaker {
      text-align: center;
    }

    &--room {
      margin-bottom: 1em;
      text-align: center;
    }

    &--duration {
      position: relative;
      gap: 5px;
      justify-content: center;
      margin-bottom: 1em;
    }

    &--duration-icon {
      display: block;
    }

    &--timming {
      display: block;
      text-align: center;
    }

    &--abstract {
      flex-grow: 1;
    }

    &.-workshop {
      height: 270px;
    }

    &.-talk {
      height: 130px;
    }
  }
}
