mixin session(options)
  -const opt = options || {}
  -const alternative = opt.format ? '-' + opt.format : null
  .session(class = alternative)
    .session--venue
      if opt.room
        .session--room #{opt.room}
      .session--timming
        if opt.duration
          .session--duration
            .session--duration-icon
              i.icon-clock
            .session--duration-time #{opt.duration}
        .session--start #{opt.start}
        .session--end #{opt.end}
    .session--abstract
      if opt.page
        a.session--link(href='pages/' + opt.page)
          h3.session--title #{opt.title}
      else
        h3.session--title #{opt.title}
      if opt.speakers
        ul.session--speakers
          each speaker in opt.speakers
            li.session--speaker #{speaker}
