include session.mixin.pug

+session({
  start: '08h30',
  end: '09h15',
  room: 'Entrée',
  title: 'Accueil / petit déj.',
  format: 'talk',
})

+session({
  start: '09h15',
  end: '09h45',
  duration: '30mn',
  room: 'Halle',
  title: 'Ouverture',
  page: 'openning.html',
  format: 'workshop',
  speakers: [
    'Colin DAMON'
  ]
})
