.line {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 25px 15px 5px;

  &--half-slot {
    display: flex;
    flex: 50%;
    justify-content: center;
  }

  @media screen and ($computer-media) {
    flex-direction: row;
    gap: 100px;
    align-items: center;
    justify-content: center;
    margin: 40px 100px 10px;

    &.-extra-large {
      margin: 40px 15px 10px;
    }

    &.-space-between {
      justify-content: space-between;
    }

    &--half-slot {
      display: block;
    }
  }
}
