mixin line(options)
  -const {id, alignment, extraLarge} = options || {}
  -const spacing = alignment === 'space-between' ? '-space-between' : null
  -const width = extraLarge ? '-extra-large' : null
  -const idAttribute = id || null;
  .line(id=id class=[spacing, width])
    block
