extends /layout-documentation

block append vars
  -active='molecule'

block title
  title Tikui - Molecules

block content
  .tikui-vertical-spacing.-s32
    .tikui-vertical-spacing--line
      h1.tikui-title-main#molecules Molecules
    .tikui-vertical-spacing--line
      include /documentation/atomic-design/quote/molecule
    .tikui-vertical-spacing--line
      include:componentDoc(height=200) budget/budget.md
      include:componentDoc(height=70) info-cards/info-cards.md
      include:componentDoc(height=200) session/session.md
      include:componentDoc(height=220) networks/networks.md
