.content {
  width: 100%;

  &--title {
    position: relative;
    margin: 15px 0 30px;
    background-color: $xcraft-primary-color;
    text-align: center;
    line-height: 1.7rem;
    font-size: 1.7rem;
    font-weight: 500;

    &::before {
      position: absolute;
      top: 50%;
      left: calc(50% - calc(min(500px, 90%) / 2));
      z-index: 1;
      border-top: 2px solid $xcraft-secondary-color;
      width: min(500px, 90%);
      content: '';
    }
  }

  &--title-content {
    position: relative;
    z-index: 5;
    background-color: $xcraft-primary-color;
    padding: 0 15px;
  }

  &--paragraph,
  &--list {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
  }

  &--paragraph {
    &.-sponsors {
      display: flex;
      flex-direction: column;
      gap: 30px 50px;
      justify-content: center;
    }
  }

  &--list {
    padding-left: 2rem;

    li {
      margin-bottom: 4px;
      list-style-type: none;
    }
  }

  a {
    font-weight: 600;
  }

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }

  @media screen and ($computer-media) {
    &--title {
      margin-top: 30px;

      &.-left {
        text-align: left;

        &::before {
          left: 0;
          width: min(250px, 90%);
        }
      }
    }

    &--title-content {
      &.-left {
        padding: 0 15px 0 0;
      }
    }

    &--list {
      text-align: left;

      li {
        margin-bottom: 0;
        list-style-type: square;
      }
    }

    &.-left {
      text-align: left;
    }

    &--paragraph {
      &.-sponsors {
        flex-direction: row;
      }
    }
  }
}
