mixin content(options)
  -const opt = options ||  {}
  -const title = opt.title
  -const alternative = opt.type === 'left' ? '-left' : '-center'
  .content(class=alternative)
    if title
      h2.content--title(class=alternative)
        span.content--title-content(class=alternative) #{title}
    .content--content
      block
