.info-card {
  flex-grow: 1;
  border-radius: 1em;
  background-color: $xcraft-secondary-color;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
  color: $xcraft-primary-color;
  font-size: 1.8rem;
  font-weight: 600;

  a {
    color: $xcraft-primary-color;
    font-weight: 700;
  }
}
