$xcraft-track-width: minmax(120px, 25%);

.planning {
  background-color: $xcraft-primary-color;

  &--slot {
    display: grid;
    gap: 5px;
    margin-bottom: 5px;
  }

  &--track {
    display: flex;
    flex-direction: column;
    gap: 5px 0;
  }

  @media screen and ($horizontal-phone-media) {
    &--slot {
      &.-multi-talks {
        grid-template-columns: repeat(4, $xcraft-track-width);
        gap: 0 5px;
      }
    }
  }
}
