include /molecule/session/session.mixin.pug

mixin planning
  .planning
    .planning--slot
      .planning--track
        +session({
          start: '08h30',
          end: '09h15',
          room: 'Galerie',
          title: 'Accueil / petit déj.'
        })

    .planning--slot
      .planning--track
        +session({
          start: '09h15',
          end: '09h40',
          duration: '25mn',
          room: 'Halle',
          title: 'Ouverture',
          speakers: [
            'Colin DAMON'
          ]
        })

    .planning--slot.-multi-talks
      .planning--track
        +session({
          start: '09h45',
          end: '10h30',
          duration: '45mn',
          room: 'P & Play',
          title: 'Lire du code sous l’influence de ses émotions',
          page: 'reading-code.html',
          format: 'talk',
          speakers: [
            'Romeu MOURA'
          ]
        })

        +session({
          start: '10h40',
          end: '11h25',
          duration: '45mn',
          room: 'P & Play',
          title: 'Les grandes boites sont des petits panoptiques les coachs agiles sont des jésuites',
          page: 'panopticons.html',
          format: 'talk',
          speakers: [
            'Romeu MOURA'
          ]
        })

        +session({
          start: '11h35',
          end: '12h20',
          duration: '45mn',
          room: 'P & Play',
          title: 'La théorie sociale de Bourdieu appliquée à la tech',
          page: 'bourdieu.html',
          format: 'talk',
          speakers: [
            'Romeu MOURA'
          ]
        })

      .planning--track
        +session({
          start: '09h45',
          end: '11h25',
          duration: '1h40',
          room: 'Escale',
          title: 'Les dévs. sont attaqué·e·s ! Du conflit à la conversation avec l\'Aïkido Verbal',
          format: 'workshop',
          page: 'aikido.html',
          speakers: [
            'Philippe BOURGAU'
          ]
        })

        +session({
          start: '11h35',
          end: '12h20',
          duration: '45mn',
          room: 'Escale',
          title: 'Roman Numerals (kata)',
          format: 'kata',
          speakers: [
            'Colin DAMON',
            'Houleymatou BALDÉ'
          ]
        })

      .planning--track
        +session({
          start: '09h45',
          end: '11h25',
          duration: '1h40',
          room: 'Murmures',
          title: 'Mission kata(strophe)',
          format: 'workshop',
          page: 'mission-kata-strophe.html',
          speakers: [
            'Juliette DE RANCOURT'
          ]
        })

        +session({
          start: '11h35',
          end: '12h20',
          duration: '45mn',
          room: 'Murmures',
          title: 'Violence herméneutique - comment éviter le malaise ?',
          format: 'talk',
          page: 'hermeneutical.html',
          speakers: [
            'Sara DUFOUR'
          ]
        })

      .planning--track
        +session({
          start: '09h45',
          end: '10h30',
          duration: '45mn',
          room: 'Halle',
          title: 'De l\'origine des développeurs, crafteur à l\'état naturel ?',
          format: 'talk',
          page: 'born-crafter.html',
          speakers: [
            'Marc GAVANIER',
            'Romain CAMBONIE'
          ]
        })

        +session({
          start: '10h40',
          end: '11h25',
          duration: '45mn',
          room: 'Halle',
          title: 'Welcome to zanzibar',
          format: 'talk',
          page: 'welcome-zanzibar.html',
          speakers: [
            'Pauline JAMIN'
          ]
        })

        +session({
          start: '11h35',
          end: '12h20',
          duration: '45mn',
          room: 'Halle',
          title: 'Model Mitosis : ne plus se tromper entre les microservices et le monolithe',
          format: 'talk',
          page: 'model-mitosis.html',
          speakers: [
            'Josian CHEVALIER',
            'Julien TOPÇU'
          ]
        })

    .planning--slot
      .planning--track
        +session({
          start: '12h20',
          end: '13h45',
          room: 'Galerie',
          title: 'Déjeuner'
        })

    .planning--slot.-multi-talks
      .planning--track
        +session({
          start: '13h45',
          end: '14h20',
          duration: '35mn',
          room: 'P & Play',
          title: 'Les langages de programmation sont à leurs paradigmes ce que la loi est à l’éthique',
          page: 'languages-ethic.html',
          format: 'talk',
          speakers: [
            'Romeu MOURA'
          ]
        })

        +session({
          start: '14h30',
          end: '15h15',
          duration: '45mn',
          room: 'P & Play',
          title: 'Descriptivisme vs prescriptivisme',
          format: 'talk',
          page: 'descriptivism-vs-prescriptivism.html',
          speakers: [
            'Romeu MOURA'
          ]
        })

        +session({
          start: '15h30',
          end: '16h15',
          duration: '45mn',
          room: 'P & Play',
          title: 'Lutter contre la réaction et contre la peur d’avoir mal',
          format: 'talk',
          page: 'struggling-against-reaction.html',
          speakers: [
            'Romeu MOURA'
          ]
        })

        +session({
          start: '16h25',
          end: '17h10',
          duration: '45mn',
          room: 'P & Play',
          title: 'Une complexité de complexités : naviguer quand on se sent dépassés',
          format: 'talk',
          page: 'compexity-of-complexities.html',
          speakers: [
            'Romeu MOURA'
          ]
        })

      .planning--track
        +session({
          start: '13h45',
          end: '15h20',
          duration: '1h35',
          room: 'Escale',
          title: 'Vous ne produisez pas du logiciel… vous raffinez des traductions',
          format: 'workshop',
          page: 'vous-raffinez-des-traductions.html',
          speakers: [
            'Christophe THIBAUT'
          ]
        })

        +session({
          start: '15h30',
          end: '17h10',
          duration: '1h40',
          room: 'Escale',
          title: 'Coding free !',
          page: 'coding-free.html',
          speakers: [
            'Gautier DI FOLCO'
          ]
        })

      .planning--track
        +session({
          start: '13h45',
          end: '17h10',
          duration: '3h25',
          room: 'Murmures',
          title: 'Forum Ouvert',
          format: 'workshop',
          page: 'open-forum.html',
          speakers: [
            'Anne JACQUET',
            'Michelle AVOMO'
          ]
        })

      .planning--track
        +session({
          start: '13h45',
          end: '14h00',
          duration: '15mn',
          room: 'Halle',
          title: 'Les gens ne savent pas ce qu\'ils font, la plupart du temps !',
          format: 'lightning',
          page: 'les-gens-ne-savent-pas-ce-qu-ils-font.html',
          speakers: [
            'Léa COSTON'
          ]
        })

        +session({
          start: '14h05',
          end: '14h20',
          duration: '15mn',
          room: 'Halle',
          title: 'L\'Anarchie Organisée : Gouvernance Zéro sur le projet PostgreSQL',
          format: 'lightning',
          page: 'postgresql-policy.html',
          speakers: [
            'Lætitia AVROT'
          ]
        })

        +session({
          start: '14h30',
          end: '15h15',
          duration: '45mn',
          room: 'Halle',
          title: 'Revue de code : on n’est pas venue·e·s pour souffrir !',
          page: 'revues-de-code.html',
          format: 'talk',
          speakers: [
            'Pauline RAMBAUD'
          ]
        })

        +session({
          start: '15h30',
          end: '16h15',
          duration: '45mn',
          room: 'Halle',
          title: 'Continuous Delivery : Straight to the Prod',
          page: 'straight-to-the-prod.html',
          format: 'talk',
          speakers: [
            'Caroline DESPLANQUES',
            'Régis MARTEAU'
          ]
        })

        +session({
          start: '16h25',
          end: '17h10',
          duration: '45mn',
          room: 'Halle',
          title: 'Survivre dans le No man\'s land des utilisateurs',
          format: 'talk',
          page: 'no-mans-land-utilisateur.html',
          speakers: [
            'Aurélien BOUDOUX'
          ]
        })

    .planning--slot
      .planning--track
        +session({
          start: '17h15',
          end: '17h25',
          duration: '10mn',
          room: 'Halle',
          title: 'Conclusion',
          speakers: [
            'Crafters Lyon'
          ]
        })

    .planning--slot
      .planning--track
        +session({
          start: '17h25',
          end: '19h00',
          room: 'Galerie',
          title: 'Apéro'
        })
