.network {
  display: flex;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  padding: 0 5px;
  width: fit-content;
  height: 36px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;

  &:hover {
    &.-light {
      border-color: $xcraft-secondary-color;
      background-color: $xcraft-transparent-background;

      * {
        color: $xcraft-secondary-color;
      }
    }

    &.-dark {
      border-color: $xcraft-primary-color;
      background-color: $xcraft-secondary-color;

      * {
        color: $xcraft-primary-color;
      }
    }
  }

  &.-light {
    border: 2px solid $xcraft-primary-color;

    * {
      color: $xcraft-primary-color;
    }
  }

  &.-dark {
    border: 2px solid $xcraft-secondary-color;

    * {
      color: $xcraft-secondary-color;
    }
  }

  &--label {
    transition: 0.25s;
    width: 0;
    overflow: hidden;
    font-size: 17px;
  }

  @media screen and ($computer-media) {
    &:hover &--label {
      padding: 0 5px;
      width: fit-content;
    }
  }
}
