include network.mixin.pug

+network({theme: 'dark', icon: 'meetup', url: 'https://www.meetup.com/fr-FR/software-craftsmanship-lyon/', label: 'Meetup'})
+network({theme: 'dark', icon: 'discord', url: 'https://discord.gg/T6wJUWW', label: 'Discord'})
+network({theme: 'light', icon: 'meetup', url: 'https://www.meetup.com/fr-FR/software-craftsmanship-lyon/', label: 'Meetup'})
+network({theme: 'light', icon: 'discord', url: 'https://discord.gg/T6wJUWW', label: 'Discord'})
