mixin network(options)
  -const opt = options || {}
  -const theme = opt.theme || 'dark'
  -const icon = opt.icon || 'discord'
  -const url = opt.url || 'https://discord.gg/T6wJUWW'
  -const label = opt.label || 'Discord'
  a.network(class = '-' + theme href = url target = '_blank')
    .network--icon
      i(class = 'icon-' + icon)
    .network--label #{label}
