include /atom/info-card/info-card.mixin.pug

mixin info-cards
  .info-cards
    +info-card 19 intervenant·e·s
    +info-card A #[a(href='pages/acces.html') l'embarcadère]
    +info-card #[a(href='https://www.meetup.com/software-craftsmanship-lyon/events/296044245/' target='_blank') GDCR le lendemain]
