$image-radius: 20px;

.workshop-image {
  position: relative;
  z-index: 2;
  border-radius: $image-radius;
  background-image: url('assets/images/workshop.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  max-width: 579px;

  &::after {
    display: block;
    padding-bottom: 100%;
    content: '';
  }

  @media screen and ($computer-media) {
    margin: 40px 0;

    &::before {
      position: absolute;
      transform: rotate(-15deg);
      z-index: 1;
      border: 1px solid $xcraft-secondary-color;
      border-radius: $image-radius;
      width: 100%;
      height: 100%;
      content: '';
    }
  }
}
