.header {
  display: block;
  position: relative;
  background-image: url('assets/images/header-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 5px;
  height: 500px;

  &--menu {
    padding-top: 10px;
  }

  &--content {
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
  }

  &--date {
    text-align: center;
    color: $xcraft-primary-color;
    font-size: 1.5rem;
    font-weight: 300;
  }

  &--title {
    text-align: center;
    color: $xcraft-primary-color;
    font-size: 5.5rem;
    font-weight: 700;
  }

  &--subtitle {
    margin-top: 15px;
    text-align: center;
    color: $xcraft-primary-color;
    font-size: 1.7rem;
    font-weight: 400;
  }

  &--tickets {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  &--networks {
    display: none;
  }

  &.-compacted {
    height: 400px;
  }

  &.-compacted &--content {
    position: absolute;
    top: 80px;
    left: 50%;
  }

  @media screen and ($computer-media) {
    padding: 0 60px;
    height: 823px;

    &--content {
      top: 250px;
    }

    &--date {
      font-size: 3rem;
    }

    &--title {
      font-size: 7rem;
    }

    &--subtitle {
      font-size: 2.5rem;
    }

    &--networks {
      display: block;
      position: absolute;
      top: 330px;
      right: 5px;
    }

    &.-compacted &--networks {
      top: 130px;
    }
  }
}
