include /atom/menu/menu.mixin.pug
include /molecule/networks/networks.mixin.pug

mixin header(options)
  -const opt = options || {}
  -const compacted = opt.compacted
  -const date = opt.date || ''
  -const title = opt.title || 'XCraft'
  -const subtitle = opt.subtitle || '*DD ok, mais après ?'
  -const alternative = compacted ? '-compacted' : null
  .header(class = alternative)
    if !compacted
      .header--menu
        +menu
    .header--content
      if date
        h2.header--date #{date}
      h1.header--title #{title}
      h3.header--subtitle #{subtitle}
    .header--networks
      +networks({type: 'header'})
