extends /layout-documentation

block append vars
  -active='atom'

block title
  title Tikui - Atoms

block content
  .tikui-vertical-spacing.-s32
    .tikui-vertical-spacing--line
      h1.tikui-title-main#atoms Atoms
    .tikui-vertical-spacing--line
      include /documentation/atomic-design/quote/atom
    .tikui-vertical-spacing--line
      include:componentDoc(height=240) content/content.md
      include:componentDoc(height=70) home-button/home-button.md
      include:componentDoc(height=50) info-card/info-card.md
      include:componentDoc(height=100) line/line.md
      include:componentDoc(height=50) menu/menu.md
      include:componentDoc(height=180) network/network.md
      include:componentDoc(height=62) tickets/tickets.md
      include:componentDoc(height=650) workshop-image/workshop-image.md
