.networks {
  display: flex;

  &.-vertical {
    flex-direction: column;
    align-items: flex-end;
    justify-content: right;
  }

  &.-horizontal {
    justify-content: center;
  }

  &--network {
    margin: 15px;
  }

  @media screen and ($computer-media) {
    &.-horizontal &--network {
      width: 6em;
    }
  }
}
