include /atom/network/network.mixin.pug

mixin networks(options)
  -const opt = options || {}
  -const vertical = opt.type === 'header';
  -const orientationClass = vertical ? '-vertical' : '-horizontal';
  -const theme = vertical ? 'light' : 'dark';
  .networks(class=orientationClass)
    .networks--network
      +network({theme: theme, icon: 'meetup', url: 'https://www.meetup.com/fr-FR/software-craftsmanship-lyon/', label: 'Meetup'})
    .networks--network
      +network({theme: theme, icon: 'discord', url: 'https://discord.gg/T6wJUWW', label: 'Discord'})
