$xcraft-primary-color: #fff;
$xcraft-secondary-color: #0e0e0e;
$xcraft-tertiary-color: #e0e0e0;
$xcraft-background-color: $xcraft-primary-color;
$xcraft-page-background-color: #ddd;
$xcraft-transparent-background: rgb(255 255 255 / 80%);
