extends /layout.pug

include /atom/line/line.mixin.pug
include /atom/home-button/home-button.mixin.pug
include /atom/content/content.mixin.pug
include /molecule/networks/networks.mixin.pug
include /organism/header/header.mixin.pug

block config
  -const pageTitle = 'Comment venir'

block body
  +header({subtitle: 'Comment venir', compacted: true})
  +line
    +content({title: 'Plan', type: 'center'})
      p.content--paragraph
        iframe(width='100%' height='450px' frameborder='0' allowfullscreen src='https://umap.openstreetmap.fr/fr/map/lyon-craft_870847?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false')
      p.content--paragraph
        | L’Embarcadère
        br
        | 13 bis quai Rambaud
        br
        | 69002 Lyon
  +line
    +content({title: 'Venir en transport en commun', type: 'center'})
      p.content--paragraph
        | En venant du Nord (Perrache), au plus proche c’est la station de tram de la place des archives (ligne T1 et T2), ou la station Perrache du métro A.
      p.content--paragraph
        | En venant du Sud (musée des Confluences ou Gerland), s’arrêter à la station de tram de Sainte-Blandine (ligne T1).
      p.content--paragraph
        | Dans tous les cas, il y a
        | #[a(href='https://www.tcl.fr/itineraires?from=4.8597799;45.7604257&to=4.819371;45.747997&date=20231103T084500&modes=arrival,metro,funiculaire,tramway,bus&journey=0' target='_blank') le site des TCL], le lien est configuré pour un départ de la gare de la Part-Dieu avec une arrivée sur place à 8h45.
  +line
    +content({title: 'Venir à vélo', type: 'center'})
      p.content--paragraph
        | Planifier votre trajet avec #[a(href='https://geovelo.fr/fr/route?bike-type=own&c=4.826599%2C45.757249&e-bike=false&from=4.833560%2C45.767240&to=4.817990%2C45.747480&z=14.26&zone=lyon' target='_blank') Géovélo], le lien est configuré pour arriver sur place depuis la place des Terreaux.
      p.content--paragraph
        | Pour les usagers des Vélov, il y a une station juste à côté au 15 quai Rambaud, deux autres un peu plus loin indiquées par des pictogrammes vélo sur la carte.
  +line
    +content({title: 'Venir en voiture', type: 'center'})
      p.content--paragraph Bon courage
  +line({alignment: 'space-between'})
    +home-button
  +networks({type: 'footer'})
