extends /layout.pug

include /atom/line/line.mixin.pug
include /atom/home-button/home-button.mixin.pug
include /atom/content/content.mixin.pug
include /molecule/networks/networks.mixin.pug
include /organism/header/header.mixin.pug

block config
  -const pageTitle = 'Les dévs. sont attaqué·e·s ! Du conflit à la conversation avec l\'Aïkido Verbal'

block body
  +header({subtitle: 'Les dévs. sont attaqué·e·s ! Du conflit à la conversation avec l\'Aïkido Verbal', compacted: true})
  +line
    +content({type: 'center'})
      p.content--paragraph
        | Les agressions verbales sont malheureusement fréquentes sur le lieu de travail:
        | vendeur·euse·s insistant·e·s, revues de code indélicates, collègues passifs-agressifs, etc.
        | En tant que développeur·euse·s, nous devons savoir faire face, pour notre travail, mais aussi pour notre bien-être&nbsp;!
        | C'est là que l'Aïkido verbal entre en jeu.
      p.content--paragraph
        | Rejoignez-nous pour découvrir comment l'Aïkido Verbal permet de transformer les conflits en conversations constructives.
        | Pendant cette session interactive, vous apprendrez des techniques et des stratégies pratiques spécialement conçues pour les dévs.
        | En pratiquant l'Aïkido Verbal, vous apprendrez à gérer les situations difficiles. De plus, vous obtiendrez :
        ul.content--list
          li Des compétences concrètes : Plus vous pratiquerez l'Aïkido verbal, mieux vous saurez désamorcer les conflits et orienter les conversations vers des résultats positifs.
          li Applicables au travail : L'Aïkido verbal fournit des outils pratiques pour gérer efficacement les situations professionelles difficiles, rester constructif, et favoriser des relations plus saines avec vos collègues.
          li Des meilleures relations personelles : Les principes de l'Aïkido verbal s'appliquent au-delà du travail, vous améliorerez aussi vos interactions avec votre famille et vos amis.
          li Découverte de soi : L'apprentissage de l'Aïkido verbal vous éclairera sur vos propres schémas et comportements, facilitant le développement personnel et la conscience de soi.
          li Démonstrations en direct : pendant la session, nous jouerons les cas réels de l'auditoire&nbsp;!
      p.content--paragraph
        | Rejoignez-nous pour cette session et découvrez comment l'Aïkido Verbal vous permettra de gérer les attaques verbales avec confiance, harmonie et résilience.
  +line
    +content({title: 'Philippe BOURGAU', type: 'center'})
      p.content--paragraph
        | Coach agile et craft, j'adresse les problèmes techniques avec de la collaboration entre humains&nbsp;!
      p.content--paragraph
        | J'ai par le passé parlé à de nombreux événements internationaux: DDD Europe, Newcrafts, Devoxx, XPDays Benelux, CPPP, P3X, Alpes Craft, Agile France, Agile Tour et d'autres.
      p.content--paragraph
        | Mes conférences sont toujours très interactives, presque des ateliers, et contiennent souvent du live-coding. Mon but est que l'audience quitte la session avec des nouvelles connaissances pratiques, qu'elle pourra appliquée immédiatement.
  +line({alignment: 'space-between'})
    +home-button
  +networks({type: 'footer'})
