extends /layout.pug

include /atom/line/line.mixin.pug
include /atom/home-button/home-button.mixin.pug
include /atom/content/content.mixin.pug
include /molecule/networks/networks.mixin.pug
include /organism/header/header.mixin.pug

block config
  -const pageTitle = 'De l\'origine des développeurs, crafteur à l\'état naturel ?'

block body
  +header({subtitle: 'De l\'origine des développeurs, crafteur à l\'état naturel ?', compacted: true})
  +line
    +content({type: 'center'})
      p.content--paragraph
        | Peut-on naître crafteur, guidé par une intuition brute plutôt que par l'apprentissage et le mentorat&nbsp;?
      p.content--paragraph
        | À travers notre retour d'expérience entrepreneuriale, découvrez comment,
        | en l'absence d'influences extérieures et sans connaître les principes du software craftsmanship,
        | nous en avons mis en œuvre une partie et sommes passé à coté des autres.
      p.content--paragraph
        | Cette présentation n'est pas seulement un voyage à travers nos erreurs,
        | mais aussi une introspection honnête de nos réussites qui ont façonné notre compréhension et vision du craft.
  +line
    +content({title: 'Marc GAVANIER', type: 'center'})
      p.content--paragraph
        | Ingénieur logiciel indépendant, je suis passionné par le développement,
        | mais ce que j'aime encore plus c'est apporter un maximum de valeur aux utilisateurs des produits sur lesquels j'interviens.
      p.content--paragraph
        | Je m'intéresse donc à tous les sujets qui favorisent la fluidité du développement et la collaboration tels que l'agilité, TDD, BDD, DDD, DevOps.
      p.content--paragraph
        | Mon parcours professionnel a débuté par une expérience entrepreneuriale,
        | qui m'a permis de donner libre cours à ma passion pour la création de produits technologiques tout en me confrontant au monde des affaires avant de me mener sur le chemin de l'artisanat du logiciel.
  +line
    +content({title: 'Romain CAMBONIE', type: 'center'})
      p.content--paragraph
        | Ingénieur logiciel indépendant, ma passion réside dans l'exploration des divers domaines techniques et métiers.
      p.content--paragraph
        | Je m'intéresse à tout ce qui peut aider à maximiser la productivité et la qualité tout en maintenant une sérénité d'opération.
      p.content--paragraph
        | Actuellement, je me consacre à un SaaS, héritage d'une précédente initiative entrepreneuriale.
  +line({alignment: 'space-between'})
    +home-button
  +networks({type: 'footer'})
