extends /layout.pug

include /atom/line/line.mixin.pug
include /atom/home-button/home-button.mixin.pug
include /atom/content/content.mixin.pug
include /molecule/networks/networks.mixin.pug
include /organism/header/header.mixin.pug

block config
  -const pageTitle = 'La théorie sociale de Bourdieu appliquée à la tech'

block body
  +header({subtitle: 'La théorie sociale de Bourdieu appliquée à la tech', compacted: true})
  +line
    +content({type: 'center'})
      p.content--paragraph
        | Every workplace, every community, and in fact every social interaction,
        | is governed by various forces, hidden power structures,
        | implicit oppression and submission. We oppress people by accident,
        | and we are oppressed by others by accident.
      p.content--paragraph
        | Bourdieu's social theory (with concepts like “symbolic violence", “cultural capital” and “hexis”)
        | explain what is happening. By understanding what he meant,
        | we learn how each of us influences and is influenced by the people around us,
        | in ways that we wouldn't expect.
      p.content--paragraph
        | This talk tries to make Bourdieu's ideas accessible.
        | Learn how to improve your environment immediately;
        | see why meritocracy is a dangerous lie;
        | recognise oppression and submission when it happens; and gain the tools to fight it day to day.
  +line
    +content({title: 'Romeu MOURA', type: 'center'})
      p.content--paragraph
        | Endless conversation — with friends, compilers — on art, equivocacy, Symmathesy, methods, absurdism, dialectic, paradigm jumps, serendipity.
  +line({alignment: 'space-between'})
    +home-button
  +networks({type: 'footer'})
