extends /layout.pug

include /atom/line/line.mixin.pug
include /atom/home-button/home-button.mixin.pug
include /atom/content/content.mixin.pug
include /molecule/networks/networks.mixin.pug
include /organism/header/header.mixin.pug

block config
  -const pageTitle = 'Coding free !'

block body
  +header({subtitle: 'Coding free !', compacted: true})
  +line
    +content({type: 'center'})
      p.content--paragraph
        | On est quand même venus pour coder&nbsp;!!!
      p.content--paragraph
        | Venez proposer le sujet ou la session de votre choix sur le tableau dans la salle. Tant qu'il y a du code dedans&nbsp;: c'est OK.
        ul.content--list
          li Envie de faire un kata&nbsp;? C'est OK&nbsp;!
          li Envie de faire un live coding&nbsp;? C'est OK&nbsp;!
          li Envie d'organiser un FishMob pour faire une résolution farfelue&nbsp;? C'est OK&nbsp;!
      p.content--paragraph
        | Tout ça se passera sous l'œil trollesque de Gautier qui aura la lourde charge de s'assurer que ce soit absurde et brillant&nbsp;!
  +line({alignment: 'space-between'})
    +home-button
  +networks({type: 'footer'})
