extends /layout.pug

include /atom/line/line.mixin.pug
include /atom/home-button/home-button.mixin.pug
include /atom/content/content.mixin.pug
include /molecule/networks/networks.mixin.pug
include /organism/header/header.mixin.pug

block config
  -const pageTitle = 'Une complexité de complexités : naviguer quand on se sent dépassés'

block body
  +header({subtitle: 'Une complexité de complexités : naviguer quand on se sent dépassés', compacted: true})
  +line
    +content({type: 'center'})
      p.content--paragraph
        | Complexity is the bread and butter of every modeler, designer, architect and developer.
      p.content--paragraph
        | We have many techniques to reduce complexity, to Master complexity: to try to get a control of what is happening.
      p.content--paragraph
        | We also have a lot of techniques to thrive inside complexity: to exist while lost.
      p.content--paragraph
        | Let’s try to reduce the suffering we can live in complex situations and complex codebases
  +line
    +content({title: 'Romeu MOURA', type: 'center'})
      p.content--paragraph
        | Endless conversation — with friends, compilers — on art, equivocacy, Symmathesy, methods, absurdism, dialectic, paradigm jumps, serendipity.
  +line({alignment: 'space-between'})
    +home-button
  +networks({type: 'footer'})
