extends /layout.pug

include /atom/line/line.mixin.pug
include /atom/home-button/home-button.mixin.pug
include /atom/content/content.mixin.pug
include /molecule/networks/networks.mixin.pug
include /organism/header/header.mixin.pug

block config
  -const pageTitle = 'Contacts'

block body
  +header({subtitle: 'Contacts', compacted: true})
  +line
    +content({type: 'center'})
      p.content--paragraph
        | XCraft est organisé par les Software Crafters Lyon et Ideme.
      p.content--paragraph
        | Si vous avez des questions ou remarques vous pouvez nous contacter, nous ferons notre possible pour répondre au mieux.

  +line
    +content({title: 'Software Crafters Lyon', type: 'center'})
      p.content--paragraph
        | Les Software Crafters Lyon c'est 6 orgas joignables sur #[a(href='https://discord.gg/T6wJUWW' target='_blank') Discord] ou #[a(href='http://slack.lyontechhub.org/' target='_blank') le Slack LyonTechHub]
        | ou encore en laissant un commentaire sur #[a(href='https://www.meetup.com/fr-FR/software-craftsmanship-lyon/events/296063723/' target='_blank') la page de l'événement]

  +line
    +content({title: 'Colin DAMON', type: 'center'})
      p.content--paragraph
        | Colin est la fois employé Ideme et orga des Software Crafters Lyon, il est joignable sur #[a(href='https://www.linkedin.com/in/colin-damon/' target='_blank') LinkedIn]

  +line
    +content({title: 'Nolwenn DOUCET', type: 'center'})
      p.content--paragraph
        | Nolwenn est la fois employé Ideme et orga des Software Crafters Lyon, il est joignable sur #[a(href='https://www.linkedin.com/in/nolwenndoucet/' target='_blank') LinkedIn]

  +line({alignment: 'space-between'})
    +home-button
  +networks({type: 'footer'})
