extends /layout.pug

include /atom/line/line.mixin.pug
include /atom/home-button/home-button.mixin.pug
include /atom/content/content.mixin.pug
include /molecule/networks/networks.mixin.pug
include /organism/header/header.mixin.pug

block config
  -const pageTitle = 'Manifeste pour un artisanat logiciel responsable'

block body
  +header({subtitle: 'Manifeste pour un artisanat logiciel responsable', compacted: true})
  +line
    +content({type: 'center'})
      p.content--paragraph
        | Souvent désigné comme la solution a tous les problèmes, le numérique est loin d'être la "silver bullet" attendue aux problèmes actuels.
      p.content--paragraph
        | Son empreinte environnementale est non négligeable et ne cesse de grandir.
        | Il est également source d'exclusion sociale (problèmes d'accessibilité, de connectivité, de ressources, de discrimination, ...).
      p.content--paragraph
        | Et si en tant qu'artisans logiciel, nous prenions enfin ces problématiques en compte ?
      p.content--paragraph
        | Je vous propose de voir ce qu'on entend par numérique responsable et comment l'intégrer dans nos pratiques quotidiennes pour essayer de tendre vers un artisanat logiciel plus responsable.
  +line
    +content({type: 'center', title: 'Cécilia BOSSARD'})
      p.content--paragraph
        | Développeuse depuis près de 20 ans, je m'intéresse à beaucoup de sujets et aime partager avec les différentes communautés.
      p.content--paragraph
        | Vous pouvez d'ailleurs me croiser du côté des Duchess, ou me rencontrer sur Nantes aux meetups Software Crafters, aux coding goûters et Devoxx4kids, ou encore aux événements Node schools.
      p.content--paragraph
        | Et si je ne suis pas derrière mon clavier, c'est probablement que je suis en train de m'occuper de mes petites abeilles :)
  +line({alignment: 'space-between'})
    +home-button
  +networks({type: 'footer'})
