extends /layout.pug

include /atom/line/line.mixin.pug
include /atom/home-button/home-button.mixin.pug
include /atom/content/content.mixin.pug
include /molecule/networks/networks.mixin.pug
include /organism/header/header.mixin.pug

block config
  -const pageTitle = 'Descriptivisme vs prescriptivisme'

block body
  +header({subtitle: 'Descriptivisme vs prescriptivisme', compacted: true})
  +line
    +content({type: 'center'})
      p.content--paragraph
        | Every adoption of every practice runs in similar patterns of problems of fetichisation, dogmatism, mechanical application, silver bullets and nihilism.
      p.content--paragraph
        | Let's explore the common thread of those with a narrative on toothbrushing.
  +line
    +content({title: 'Romeu MOURA', type: 'center'})
      p.content--paragraph
        | Endless conversation — with friends, compilers — on art, equivocacy, Symmathesy, methods, absurdism, dialectic, paradigm jumps, serendipity.
  +line({alignment: 'space-between'})
    +home-button
  +networks({type: 'footer'})
