extends /layout.pug

include /atom/line/line.mixin.pug
include /atom/home-button/home-button.mixin.pug
include /atom/content/content.mixin.pug
include /molecule/networks/networks.mixin.pug
include /organism/header/header.mixin.pug

block config
  -const pageTitle = 'Violence herméneutique - comment éviter le malaise ?'

block body
  +header({subtitle: 'Violence herméneutique - comment éviter le malaise ?', compacted: true})
  +line
    +content({type: 'center'})
      p.content--paragraph
        | Apprendre à nous défendre des mécanismes qui nous empêchent de faire sens.
        | Des mécanismes qui nous forcent à rester dans une situation de gêne de l’incompréhension. Qui nous font même douter de notre vécu.
      p.content--paragraph
        | Vous avez peut-être parfois de la difficulté à déchiffrer certains concepts, à comprendre le point de vue ou le comportement de l'autre,
        | ou ce qui provoque une certaine gêne ou tension chez vous.
        | Lorsque vous arrivez à donner du sens à un phénomène qui pouvait sembler nébuleux ou dont vous n'arriviez pas à relier tous les signes,
        | vous faites de l’herméneutique.
        | La violence herméneutique, c’est quand on rend l’interprétation difficile pour l’autre, volontairement ou non.
        | Ce talk vise à faire prendre conscience du processus et à éviter ou s'armer contre ce type de violence.
  +line
    +content({title: 'Sara DUFOUR', type: 'center'})
      p.content--paragraph
        | Sara accompagne ses clients principalement dans leur cheminement Agile et leurs pratiques Produit, en tant que coach ou manager freelance.
        | Elle a fondé La Place des Grenouilles, une association anti-sexiste fin 2021. C'est une passionnée d'arts et de mots, de diversité et d'inclusion, de gastronomie et de CNV.
  +line({alignment: 'space-between'})
    +home-button
  +networks({type: 'footer'})
