extends /layout.pug

include /atom/line/line.mixin.pug
include /atom/home-button/home-button.mixin.pug
include /atom/content/content.mixin.pug
include /molecule/networks/networks.mixin.pug
include /organism/header/header.mixin.pug

block config
  -const pageTitle = 'Informations pratiques'

block body
  +header({subtitle: 'Informations pratiques', compacted: true})
  +line
    +content({title: 'Toilettes', type: 'center'})
      p.content--paragraph
        | L’Embarcadère dispose de seulement trois toilettes. Pour fluidifier leur utilisation il a été décidé de rendre mixte les toilettes des salles du haut (Grande Halle et Escale).
        | Les toilettes du rez de Saône (salle Pause & Play) restent non-mixte.

  +line
    +content({title: 'Boire et manger', type: 'center'})
      p.content--paragraph
        | Le petit déjeuner est prévu ainsi que du café et des boissons toute la journée. Pour le repas du midi, nous avons pensé aux végé|végan et aux intolérant au gluten.
        | Le service commencera par eux, suivront les personnes qui n’ont pas de contraintes particulières.

  +line({alignment: 'space-between'})
    +home-button
  +networks({type: 'footer'})
