extends /layout.pug

include /atom/line/line.mixin.pug
include /atom/home-button/home-button.mixin.pug
include /atom/content/content.mixin.pug
include /molecule/networks/networks.mixin.pug
include /organism/header/header.mixin.pug

block config
  -const pageTitle = 'Les langages de programmation sont à leurs paradigmes ce que la loi est à l’éthique'

block body
  +header({subtitle: 'Les langages de programmation sont à leurs paradigmes ce que la loi est à l’éthique', compacted: true})
  +line
    +content({type: 'center'})
      p.content--paragraph
        | Using a OO language will not make your code OO. Using an FP language will not make your code FP.
      p.content--paragraph
        | The tool will not think for you.
      p.content--paragraph
        | Let’s talk about paradigms and why care about them.
  +line
    +content({title: 'Romeu MOURA', type: 'center'})
      p.content--paragraph
        | Endless conversation — with friends, compilers — on art, equivocacy, Symmathesy, methods, absurdism, dialectic, paradigm jumps, serendipity.
  +line({alignment: 'space-between'})
    +home-button
  +networks({type: 'footer'})
