extends /layout.pug

include /atom/line/line.mixin.pug
include /atom/home-button/home-button.mixin.pug
include /atom/content/content.mixin.pug
include /molecule/networks/networks.mixin.pug
include /organism/header/header.mixin.pug

block config
  -const pageTitle = 'Les gens ne savent pas ce qu\'ils font, la plupart du temps !'

block body
  +header({subtitle: 'Les gens ne savent pas ce qu\'ils font, la plupart du temps !', compacted: true})
  +line
    +content({type: 'center'})
      p.content--paragraph
        | Quand j’étais enfant je pensais que les grandes personnes savaient ce qu'elles faisaient, qu'elles étaient responsables et raisonnables.
        | Maintenant j’ai 34 ans, et j'attends toujours de me sentir responsable et raisonnable&nbsp;!
      p.content--paragraph
        | Quand je suis arrivée dans la tech, j’ai ressenti la même chose : “Mais en fait, personne ne sait ce qu’il fait ? Est-ce que tout le monde est NUL&nbsp;??”
      p.content--paragraph
        | Venez vous apitoyer avec moi, et ensemble nous découvrirons comment accepter les échecs et les erreurs permet de créer un espace créatif, inclusif et productif
  +line
    +content({title: 'Léa COSTON', type: 'center'})
      p.content--paragraph
        | Ingénieure, vendeuse de popcorn, prof de maths puis développeuse, je suis arrivée dans “la tech” en 2020 par une formation de reconversion courte. Après de nombreuses péripéties, ce virage professionnel est aujourd’hui une réussite.
      p.content--paragraph
        | Je vous partage avec beaucoup de plaisir (et une goutte de vitriol) mon point de vue, mes étonnements et stupéfactions concernant cet univers passionnant ainsi que sur celles et ceux qui y travaillent.
  +line({alignment: 'space-between'})
    +home-button
  +networks({type: 'footer'})
