extends /layout.pug

include /atom/line/line.mixin.pug
include /atom/home-button/home-button.mixin.pug
include /atom/content/content.mixin.pug
include /molecule/networks/networks.mixin.pug
include /organism/header/header.mixin.pug

block config
  -const pageTitle = 'Mission kata(strophe)'

block body
  +header({subtitle: 'Mission kata(strophe)', compacted: true})
  +line
    +content({type: 'center'})
      p.content--paragraph
        | Vous venez d’obtenir votre diplôme d’agent secret (mention software crafts·wo·man), et de décrocher votre premier job au sein du service de renseignements XCraft.
        | Votre première mission, si vous l’acceptez, sera de mettre au point un outil permettant de déchiffrer les communications du MI10x, une agence étrangère.
      p.content--paragraph
        | Pour cela, vous devrez collaborer sur une même base de code avec une équipe d’agents triés sur le volet, répartis en groupes de 3-4 personnes.
        | Chaque groupe travaillera de manière successive sur différents modules de l'outil, dont les spécifications sont tirées de données récupérées sur le terrain par nos espions.
        | Attention, il se peut que des ennemis infiltrés essayent de semer la zizanie…
      p.content--paragraph
        | Afin de mener à bien la mission, au moins une personne par groupe devra être équipée d’un ordinateur avec des versions récentes de Java et Maven installés, ainsi que d’un compte GitHub.
  +line
    +content({type: 'center', title: 'Juliette DE RANCOURT'})
      p.content--paragraph
        | Développeuse depuis 5 ans, mon but au quotidien est de créer des solutions qui répondent au mieux à un besoin réel et précis. Quand ça fonctionne c’est cool, quand ça fonctionne pas j’apprends de mes erreurs (enfin j’essaye).
      p.content--paragraph
        | Fan de jeux de mots à qualité variable, je perfectionne actuellement ce skill chez Shodo.
  +line({alignment: 'space-between'})
    +home-button
  +networks({type: 'footer'})
