extends /layout.pug

include /atom/line/line.mixin.pug
include /atom/home-button/home-button.mixin.pug
include /atom/content/content.mixin.pug
include /molecule/networks/networks.mixin.pug
include /organism/header/header.mixin.pug

block config
  -const pageTitle = 'Model Mitosis : ne plus se tromper entre les microservices et le monolithe'

block body
  +header({subtitle: 'Model Mitosis : ne plus se tromper entre les microservices et le monolithe', compacted: true})
  +line
    +content({type: 'center'})
      p.content--paragraph
        | Tout comme le développement doit être itératif, le design du logiciel doit changer lorsque le contexte et notre compréhension du problème évoluent.
        | Au fur et à mesure qu'un logiciel se développe pour résoudre plus de problèmes, il devient moins souple dans sa capacité à évoluer.
        | Des tensions apparaissent au sein du modèle métier du logiciel qui peine à rester cohérent.
      p.content--paragraph
        | Finalement, il atteint une masse critique et devient un monolithe de code en spaghetti...
        | Comment pouvons nous déterminer quand il est temps de modulariser notre logiciel&nbsp;?
        | Comment prendre la décision de le scinder en plusieurs modules ou services&nbsp;?
        | Comment gérer la différenciation progressive de nos modèles métiers tout en évitant les couplages inutiles&nbsp;?
        | Il n'est pas facile de découper son logiciel en deux car déterminer les bonnes frontières peut s'avérer être compliqué.
      p.content--paragraph
        | Découvrez avec nous le Model Mitosis, une approche dynamique utilisée pour diviser un modèle métier en plusieurs modèles qui seront façonnés et découplés de manière itérative.
        | Gagnez en flexibilité afin de mieux déterminer quand diviser votre logiciel en plusieurs services tout en évitant de payer les coût d'échelle des microservices ou bien de devenir un monolithe distribué.
  +line
    +content({title: 'Josian CHEVALIER', type: 'center'})
      p.content--paragraph
        | Software Craftsman at Shodo, I specialize in Domain-Driven Design.
        | I strive to improve my approach of software development and my knowledge,
        | as well as raise awareness about software quality among developers.
  +line
    +content({title: 'Julien TOPÇU', type: 'center'})
      p.content--paragraph
        | I like to craft software with high business value using techniques from Domain-Driven Design,
        | all powered by Xtreme Programming in the Kanban #NoEstimates philosophy.
        | Member of the OWASP foundation, I evangelise on application security techniques in order to avoid being hacked properly.
  +line({alignment: 'space-between'})
    +home-button
  +networks({type: 'footer'})
