extends /layout.pug

include /atom/line/line.mixin.pug
include /atom/home-button/home-button.mixin.pug
include /atom/content/content.mixin.pug
include /molecule/networks/networks.mixin.pug
include /organism/header/header.mixin.pug

block config
  -const pageTitle = 'Survivre dans le No man\'s land des utilisateurs'

block body
  +header({subtitle: 'Survivre dans le No man\'s land des utilisateurs', compacted: true})
  +line
    +content({type: 'center'})
      p.content--paragraph
        | Lors #[a(href='https://youtu.be/C-zaS_5sGz0' target='_blank') de notre dernière entrevue], nous en étions arrivé à la conclusion que pour être vraiment agile,
        | il faut avant tout être en capacité TECHNIQUE à accueillir favorablement le changement, et ce à n'importe quel moment du projet.
      p.content--paragraph
        | Ce sujet n'est pratiquement jamais traité par les agilistes,
        | car ils se concentrent sur des problèmes humains,
        | mais la dégradation des relations humaines dans un projet trouve souvent sa source dans l'incapacité technique à répondre aux besoins du client.
      p.content--paragraph
        | Or, dans un contexte extrêmement dense où se mélangent obligations réglementaires,
        | flux de travail complexe, normes industrielles floues,
        | règles d'exploitation contradictoires et autres préceptes organisationnels hasardeux,
        | il est absolument impossible pour des utilisateurs experts de leur métier d'avoir une vision claire et globale de la solution logicielle idéale.
        | Et c'est là que vous débarquez, tout seul, en tant que développeur !
      p.content--paragraph
        | Rajoutez à ça le besoin naturel qu'a le client de maîtriser ses coûts et ses délais,
        | et vous comprendrez très rapidement que vous vous êtes fourré dans un beau bourbier.
      p.content--paragraph
        | Au cours de ce talk, je ferai le tour de toutes les techniques (crafts et autres)
        | qui peuvent vous permettre de survivre à ce genre de situation,
        | agrémenté d'expériences personnelles ainsi que les cheminements intellectuels qui m'ont mené à faire certains choix personnel.
  +line({alignment: 'space-between'})
    +home-button
  +networks({type: 'footer'})
