extends /layout.pug

include /atom/line/line.mixin.pug
include /atom/home-button/home-button.mixin.pug
include /atom/content/content.mixin.pug
include /molecule/networks/networks.mixin.pug
include /organism/header/header.mixin.pug

block config
  -const pageTitle = 'Forum Ouvert'

block body
  +header({subtitle: 'Forum Ouvert', compacted: true})
  +line
    +content({type: 'center'})
      p.content--paragraph
        | Le forum Ouvert (en anglais Open space ou Open Space Technology) est une méthode pour structurer des conversations et des conférences.
      p.content--paragraph
        | N'importe qui peut proposer un sujet qu'iel a envie d'aborder, qu'iel le connaisse très bien ou pas du tout (c'est l'occasion d'apprendre).
        | Des espaces accueilleront chacun des sujets et les participant·e·s peuvent passer d'un espace à l'autre comme bon leur semble pendant la session.
  +line
    +content({title: 'Anne JACQUET', type: 'center'})
      p.content--paragraph
        | Développeuse depuis 5 ans et convaincue par l’approche DDD, j’aime créer des produits, progresser dans mon utilisation des pratiques craft et transmettre ce que j'apprends.
  +line({alignment: 'space-between'})
    +home-button
  +networks({type: 'footer'})
