extends /layout.pug

include /atom/line/line.mixin.pug
include /atom/home-button/home-button.mixin.pug
include /atom/content/content.mixin.pug
include /molecule/networks/networks.mixin.pug
include /organism/header/header.mixin.pug

block config
  -const pageTitle = 'Les grandes boites sont des petits panoptiques les coachs agiles sont des jésuites'

block body
  +header({subtitle: 'Les grandes boites sont des petits panoptiques les coachs agiles sont des jésuites', compacted: true})
  +line
    +content({type: 'center'})
      p.content--paragraph
        | Without any big conspiracy (nor any bad person on top) We have created dysfunctional corporate cultures where waste reins, sadness is rampant and the majority has abandoned hopes of changing.
      p.content--paragraph
        | It is a system where every participant is oppressed and also complicit in their oppression.
      p.content--paragraph
        | This talk aims to help you see the system and in seing it arm yourself to fight it. This talk also aims to convince you that you can, in fact, make a difference.
  +line
    +content({title: 'Romeu MOURA', type: 'center'})
      p.content--paragraph
        | Endless conversation — with friends, compilers — on art, equivocacy, Symmathesy, methods, absurdism, dialectic, paradigm jumps, serendipity.
  +line({alignment: 'space-between'})
    +home-button
  +networks({type: 'footer'})
