extends /layout.pug

include /atom/line/line.mixin.pug
include /atom/home-button/home-button.mixin.pug
include /atom/content/content.mixin.pug
include /molecule/networks/networks.mixin.pug
include /organism/header/header.mixin.pug

block config
  -const pageTitle = 'L\'Anarchie Organisée : Gouvernance Zéro sur le projet PostgreSQL'

block body
  +header({subtitle: 'L\'Anarchie Organisée : Gouvernance Zéro sur le projet PostgreSQL', compacted: true})
  +line
    +content({type: 'center'})
      p.content--paragraph
        | Découvrez comment l'anarchie organisée peut être une approche tout à fait valable pour produire du code d'excellente qualité.
      p.content--paragraph
        | Nous examinerons comment la communauté PostgreSQL parvient à s'auto-organiser,
        | à prendre des décisions collectives et à maintenir le projet sans une structure de gouvernance formelle,
        | sans chef·fe de projet, sans product owner, sans coach agile,
        | juste avec des développeur·se·s bénévoles qui donnent le meilleur d'elleux-mêmes
  +line
    +content({title: 'Lætitia AVROT ', type: 'center'})
      p.content--paragraph
        | Lætitia Avrot est une figure très influente dans le monde de PostgreSQL.
      p.content--paragraph
        | Elle est trésorière de PostgreSQL Europe, fondatrice de Postgres Women et contributrice reconnue du projet PostgreSQL.
      p.content--paragraph
        | Lætitia a découvert Postgres en 2007 et occupe actuellement le poste de Field CTO chez EDB,
        | où elle met à profit son expertise pour mener des initiatives stratégiques et promouvoir l'adoption de PostgreSQL.
      p.content--paragraph
        | Son leadership et son dévouement lui ont valu le respect de la communauté.
  +line({alignment: 'space-between'})
    +home-button
  +networks({type: 'footer'})
