extends /layout.pug

include /atom/line/line.mixin.pug
include /atom/home-button/home-button.mixin.pug
include /atom/content/content.mixin.pug
include /molecule/networks/networks.mixin.pug
include /organism/header/header.mixin.pug

block config
  -const pageTitle = 'Lire du code sous l’influence de ses émotions'

block body
  +header({subtitle: 'Lire du code sous l’influence de ses émotions', compacted: true})
  +line
    +content({type: 'center'})
      p.content--paragraph
        | We talk a lot about writing "beautiful" code but never about reading the "ugly" one!
        | Yet we read more than we write and "ugly" is more frequent than "beautiful"!
        | Suffer less! Arm yourself to improve your skill at reading code,
        | to fight the tendency to needless despise your fellow Devs to make sense out of the ball of mud
        | while under the influence of your emotions.
  +line
    +content({title: 'Romeu MOURA', type: 'center'})
      p.content--paragraph
        | Endless conversation — with friends, compilers — on art, equivocacy, Symmathesy, methods, absurdism, dialectic, paradigm jumps, serendipity.
  +line({alignment: 'space-between'})
    +home-button
  +networks({type: 'footer'})
