extends /layout.pug

include /atom/line/line.mixin.pug
include /atom/home-button/home-button.mixin.pug
include /atom/content/content.mixin.pug
include /molecule/networks/networks.mixin.pug
include /organism/header/header.mixin.pug

block config
  -const pageTitle = 'Revue de code : on n’est pas venue·e·s pour souffrir !'

block body
  +header({subtitle: 'Revue de code : on n’est pas venue·e·s pour souffrir !', compacted: true})
  +line
    +content({type: 'center'})
      p.content--paragraph
        | Incompréhensions, malentendus : l’exercice de la revue de code peut être délicat.
      p.content--paragraph
        | D’une part, la façon dont nous communiquons peut avoir un impact. Vous avez été blessé-e par un commentaire&nbsp;?
        | Était-il vraiment mal intentionné&nbsp;? Vous avez blessé quelqu'un sans le vouloir, à cause d'une tournure maladroite&nbsp;?
        | En adoptant une posture et une convention bien adaptée, on peut largement diminuer le risque de mal se comprendre.
        | Non seulement on communique mieux, mais on améliore la qualité globale du projet.
      p.content--paragraph
        | La manière dont la revue de code est organisée peut aussi être une source de souffrance.
        | Nous pensons que la pratique de la revue de code s’entretient, comme un muscle que l’on travaille.
        | Comment améliorer les choses et aider tous les membres de l’équipe à se muscler&nbsp;?
        | Nous vous proposons de partager nos exercices pour vous entraîner.
      p.content--paragraph
        | Vous n'aurez plus aucune raison de souffrir&nbsp;!
  +line
    +content({title: 'Pauline RAMBAUD', type: 'center'})
      p.content--paragraph
        | Je suis développeuse back-end chez Bedrock à Lyon, j'aime le PHP et j'apprends le Go. Je découvre aussi tout l'univers des conférences&nbsp;!
        | Je suis membre Duchess et AFUP.
  +line({alignment: 'space-between'})
    +home-button
  +networks({type: 'footer'})
