extends /layout.pug

include /atom/line/line.mixin.pug
include /atom/home-button/home-button.mixin.pug
include /atom/content/content.mixin.pug
include /molecule/networks/networks.mixin.pug
include /organism/header/header.mixin.pug

block config
  -const pageTitle = 'Règles'

block body
  +header({title: 'Règles', subtitle: 'Parce que c\'est mieux en le disant', compacted: true})
  +line
    +content({type: 'center'})
      p.content--paragraph Toutes les personnes présentes à la conférence se doivent de respecter ces règles.
      p.content--paragraph L'organisation s'engage à les faire respecter pendant l'événement.
  +line
    +content({title: 'Respect', type: 'center'})
      p.content--paragraph
        | XCraft est un moment de partages et d'échanges.
        | Cela n'est possible que dans un environnement respectueux de chacun·e.
        | Évidement, tout harcelement, sous quelque forme que ce soit, est totalement interdit.
      p.content--paragraph
        | Si vous êtes victime ou témoin de harcelement dans un contexte en rapport avec XCraft n'hésitez pas à contacter les orgas
        | (reconnaissables sur place par des brassards oranges ou sur #[a(href='https://discord.gg/T6wJUWW' target='_blank') notre Discord])
  +line
    +content({title: 'Règle des deux pieds', type: 'center'})
      p.content--paragraph
        | Si vous n'apprenez rien, que vous n'apportez rien ou simplement que vous en avez envie&nbsp;:
        | prenez vos deux pieds et partez faire autre chose.
      p.content--paragraph
        | Ne vous infligez pas d'être à un endroit ou vous n'avez plus envie d'être.
  +line
    +content({title: 'Règle du pacman', type: 'center'})
      p.content--paragraph
        | Vous allez probablement être amené·e·s à échanger avec des gens en dehors des talks.
        | Naturellement, vous allez discuter avec les personnes que vous connaissez en vous positionnant de cette manière (vu du dessus)&nbsp;:
      p.content--paragraph
        img(src='/assets/images/noPacman.png' width=688 height=688 alt='No pacman')
      p.content--paragraph
        | Nous vous invitons à laisser une place dans ce cercle pour qu'une personne qui aurait envie d'échanger avec vous puisse s'inviter dans votre conversation&nbsp;:
      p.content--paragraph
        img(src='/assets/images/aPacman.png' width=643 height=688 alt='A pacman')
      p.content--paragraph
        | Chaque fois qu'une nouvelle personne vous rejoins, vous pouvez rouvrir le pacman pour accueillir de nouvelles personnes.
  +line
    +content({title: 'Utilisation des toilettes', type: 'center'})
      p.content--paragraph
        | Les toilettes de "l'étage" sont mixtes, les toilettes en rez-de-saône sont à utiliser selon les affichages sur les portes.
  +line
    +content({title: 'Vous êtes responsables', type: 'center'})
      p.content--paragraph
        | L'équipe d'organisation de la conférence a fait son possible pour que tout se passe pour le mieux.
        | Sur place, vous êtes responsables du bon déroulement de la journée.
        | Soyez des humains de qualité&nbsp;!
      p.content--paragraph
        | Si vous voyez une amélioration que vous pouvez apporter, faites-le, quelques suggestions&nbsp;:
        ul.content--list
          li Un déchet n'est pas dans une poubelle&nbsp;: jetez le&nbsp;;
          li Vous voyez une personne mal à l'aise pour entrer dans les discussions&nbsp;: proposez lui d'être son/sa #[a(href='https://www.conferencebuddy.io/' target='_blank') conférence buddy] en l'accompagnant pour échanger avec les participant·e·s&nbsp;;
          li Un·e participant·e intervient maladroitement dans un atelier&nbsp;/&nbsp;un talk&nbsp;: proposer de prendre le temps de répondre à ses questions après la session pour ne pas prendre de temps au groupe.
  +line({alignment: 'space-between'})
    +home-button
  +networks({type: 'footer'})
