extends /layout.pug

include /atom/line/line.mixin.pug
include /atom/home-button/home-button.mixin.pug
include /atom/content/content.mixin.pug
include /molecule/networks/networks.mixin.pug
include /organism/header/header.mixin.pug

block config
  -const pageTitle = 'Continuous Delivery : Straight to the Prod'

block body
  +header({subtitle: 'Continuous Delivery : Straight to the Prod', compacted: true})
  +line
    +content({type: 'center'})
      p.content--paragraph
        | Nous vous proposons une présentation sur le thème du continuous delivery, de ses avantages et des pratiques permettant d’y parvenir avec le maximum de sérénité.
      p.content--paragraph
        | Cela sera l’occasion de passer en revue quelques exemples de flow de CI/CD, des stratégies de tests ainsi que d’autres outils qui nous ont permis d’améliorer notre Lead Time,
        | notre Deployment Frequency et d’opérer des changements organisationnels.
  +line
    +content({title: 'Caroline DESPLANQUES', type: 'center'})
      p.content--paragraph
        | Happy dev depuis 12 ans. Tech lead et engineering manager chez Agicap.
        | Co-organisatrice des Human Talks Lyon.
        | Motivée par la qualité de service pour les utilisateurs.
        | J'emploie quotidiennement des méthodologies telles que xDD et d'autres pratiques permettant de livrer rapidement et avec un nombre minimal de bugs.
  +line
    +content({title: 'Régis MARTEAU', type: 'center'})
      p.content--paragraph
        | Développeur fullstack dans l’écosystème microsoft depuis plus de 10 ans, drivé par l’impact utilisateur, les challenges fonctionnels et l’architecture.
        | Aujourd’hui Tech Lead et Engineering Manager chez Agicap depuis 4 ans, a participé à l’amélioration et à la scalabilité de son produit, et a contribué au développement de sa culture autour de la qualité logicielle.
  +line({alignment: 'space-between'})
    +home-button
  +networks({type: 'footer'})
