extends /layout.pug

include /atom/line/line.mixin.pug
include /atom/home-button/home-button.mixin.pug
include /atom/content/content.mixin.pug
include /molecule/networks/networks.mixin.pug
include /organism/header/header.mixin.pug

block config
  -const pageTitle = 'Lutter contre la réaction et contre la peur d’avoir mal'

block body
  +header({subtitle: 'Lutter contre la réaction et contre la peur d’avoir mal', compacted: true})
  +line
    +content({type: 'center'})
      p.content--paragraph
        | Every attempt of system change will have an unconscious resistance on everyone
        | (including those trying to change) let’s take a look on how that happens and how some people tried to fight it in the past
  +line
    +content({title: 'Romeu MOURA', type: 'center'})
      p.content--paragraph
        | Endless conversation — with friends, compilers — on art, equivocacy, Symmathesy, methods, absurdism, dialectic, paradigm jumps, serendipity.
  +line({alignment: 'space-between'})
    +home-button
  +networks({type: 'footer'})
