extends /layout.pug

include /atom/line/line.mixin.pug
include /atom/home-button/home-button.mixin.pug
include /atom/content/content.mixin.pug
include /molecule/networks/networks.mixin.pug
include /organism/header/header.mixin.pug

block config
  -const pageTitle = 'Vous ne produisez pas du logiciel… vous raffinez des traductions'

block body
  +header({subtitle: 'Vous ne produisez pas du logiciel… vous raffinez des traductions', compacted: true})
  +line
    +content({type: 'center'})
      p.content--paragraph
        | Voilà 50 ans que le développement de logiciel, devenue une activité industrielle de service, prend pour modèle implicite ou explicite un système de production inspiré de l'usine, mettant l'accent sur le processus de fabrication et de livraison vu comme une série de transformations.
        | Dans ce modèle on trouve des artefacts, des rôles, des étapes, et des points de contrôle qui forment comme le plan d'une chaîne de production.
      p.content--paragraph
        | Or le logiciel n'est pas une activité de production.
        | Lorsqu'une organisation observe qu'elle considère le passage en production comme un non-évènement, cela caractérise non pas son processus de fabrication, mais la fiabilité, la versatilité et la réactivité de son activité de conception.
      p.content--paragraph
        | Le logiciel est primordialement et principalement une activité de conception, activité remarquable en ce qu'elle implique en permanence ses clients, ses experts, ses responsables autant que ses artisans.
        | C'est une activité de traduction entre divers systèmes d'idées, à de multiples niveaux et dans de multiples directions.
      p.content--paragraph
        | Tout ce qui se passe d'intéressant et de significatif dans la vie d'un logiciel se situe non dans les phases, mais dans les échanges.
      p.content--paragraph
        | Durant cette conversation, je vous propose de jeter aux orties le modèle de la software factory pour aborder celui de l'atelier permanent de traduction, et d'explorer ensemble les conséquences et les enjeux de ce changement de modèle.
  +line
    +content({title: 'Christophe THIBAUT', type: 'center'})
      p.content--paragraph
        | Coach XP, consultant et développeur avec plus de 30 ans d'expérience dans le développement logiciel, la direction technique, le conseil et l'accompagnement.
        | J'aide mes clients à améliorer leurs pratiques et à résoudre les problèmes ensemble.
  +line({alignment: 'space-between'})
    +home-button
  +networks({type: 'footer'})
