extends /layout.pug

include /atom/line/line.mixin.pug
include /atom/home-button/home-button.mixin.pug
include /atom/content/content.mixin.pug
include /molecule/networks/networks.mixin.pug
include /organism/header/header.mixin.pug

block config
  -const pageTitle = 'Welcome to Zanzibar.'

block body
  +header({subtitle: 'Welcome to Zanzibar', compacted: true})
  +line
    +content({type: 'center'})
      p.content--paragraph
        | Dans ce talk, je vous invite à découvrir comment le modèle ReBAC (Relationship-Based Access Control) peut révolutionner la manière dont nous abordons l'Access Management.
        | En mettant l'accent sur le métier et en adoptant une approche centrée sur les relations, nous verrons comment ces concepts peuvent être appliqués pour créer
        | des systèmes d'autorisation plus flexibles, évolutifs et maintenables.
      p.content--paragraph
        | Nous explorerons les fondements théoriques de #[a(href='//zanzibar.academy/#!' target='_blank') Zanzibar], un système d'autorisation global développé par Google, et comment il s'appuie sur le modèle ReBAC pour gérer
        | efficacement les accès. Nous soulignerons les bénéfices du Domain Driven Design dans le contexte de l'Access Management, en nous concentrant sur la représentation
        | des relations métier et la coopération entre les acteurs concernés.
      p.content--paragraph
        | Je vous partagerai comment on a réussi à utiliser OpenFGA, une version open source inspirée de Zanzibar, ainsi que difficultés que vous pourrez rencontrer pour comprendre
        | et mettre en oeuvre du ReBAC.
      p.content--paragraph
        | Alors, rejoignez-moi pour ce talk qui vous donnera un aperçu des possibilités offertes par l'alliance du ReBAC, de Zanzibar et du DDD pour transformer l'Access Management
        | et remettre le métier au cœur de vos systèmes d'autorisation. Vous ne verrez plus jamais l'Access Management de la même manière&nbsp;!
  +line
    +content({title: 'Pauline Jamin', type: 'center'})
      p.content--paragraph
        | Staff Software Engineer, team lead et engineering manager chez Agicap.
      p.content--paragraph
        | Passionnée par la conception pilotée par le domaine (DDD) et le développement back-end.
        | Douée pour diriger des équipes et adopter la philosophie SRE (Site Reliability Engineering).
        | Lorsque je ne suis pas plongée dans le code, vous me trouverez en train d'explorer les grands espaces avec mon fidèle compagnon canin.
        | Venez assister à mes talks où je partage ma passion et mon savoir !
  +line({alignment: 'space-between'})
    +home-button
  +networks({type: 'footer'})
