.budget {
  width: 100%;
  border-collapse: collapse;
  text-align: left;

  td, th {
    border: 1px solid $xcraft-secondary-color;
    padding: 10px;
  }

  &--outcome, &--income {
    width: 7em;
    text-align: right;
    white-space: nowrap;
    font-weight: 700;
  }

  &--outcome {
    color: #500000;
  }

  &--income {
    color: #00500b;
  }
}
