mixin budget
  table.budget
    tr
      th Poste
      th €€€ (TTC)
    tr
      td Salle avec prestations
      td.budget--outcome -13 797 €
    tr
      td Nourriture et boissons
      td.budget--outcome -6 164 €
    tr
      td Goodies
      td.budget--outcome -250 €
    tr
      td Consommables
      td.budget--outcome -134 €
    tr
      td Déplacements
      td.budget--outcome -1 515 €
    tr
      td Hébergements
      td.budget--outcome -643 €
    tr
      td Soirée speakers
      td.budget--outcome -450 €
    tr
      td GDCR
      td.budget--outcome -602 €
    tr
      td Sponsoring Kaibee
      td.budget--income +3 000 €
    tr
      td Sponsoring Shodo
      td.budget--income +3 000 €
    tr
      td Sponsoring HackYourJob
      td.budget--income +3 000 €
    tr
      td Vente billets
      td.budget--income +16 299 €
    tr
      td Solde
      td.budget--income +1 744 €
