.tickets {
  display: flex;
  gap: 10px;
  justify-content: center;
  transition: 300ms;
  border: 1px solid $xcraft-primary-color;
  border-radius: 2em;
  background-color: $xcraft-transparent-background;
  cursor: pointer;
  padding: 17px;
  width: fit-content;
  text-align: center;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;

  &:hover {
    background-color: rgb(14 14 14 / 90%);
    color: $xcraft-primary-color;

    i {
      color: $xcraft-primary-color;
    }
  }

  i {
    transition: 300ms;
  }
}
