include /atom/line/line.mixin.pug
include /atom/content/content.mixin.pug
include /atom/workshop-image/workshop-image.mixin.pug
include /organism/header/header.mixin.pug
include /molecule/networks/networks.mixin.pug

mixin main
  .main
    +header
    +line
      +content({title:'Title'})
        | Content
      +workshop-image
    +networks({type: 'footer'})
