extends /layout.pug

include /atom/line/line.mixin.pug
include /atom/content/content.mixin.pug
include /atom/workshop-image/workshop-image.mixin.pug
include /molecule/budget/budget.mixin.pug
include /molecule/info-cards/info-cards.mixin.pug
include /molecule/networks/networks.mixin.pug
include /organism/header/header.mixin.pug
include /organism/planning/planning.mixin.pug

block body
  +header({date: 'Le 03 Novembre 2023', title: 'XCraft', subtitle: '*DD ok, mais après ?'})
  +line({id: 'kesako'})
    .line--half-slot
      +content({title: 'Késako ?', type: 'left'})
        p.content--paragraph
          | XCraft c'est une journée pour parfaire notre maîtrise des approches plébiscitées
          | par le #[a(href='https://manifesto.softwarecraftsmanship.org/' target='_blank') Software Craftsmanship].
        p.content--paragraph
          | Les #[a(href='https://www.meetup.com/fr-FR/software-craftsmanship-lyon/' target='_blank') Software Crafters Lyon]
          | ont fait de leur mieux pour vous concocter un programme&nbsp;:
          ul.content--list
            li Avec ou sans code&nbsp;;
            li Challengeant pour les initié·e·s&nbsp;;
            li Vaguement accessible pour les néophytes&nbsp;;
            li Ouvert aux échanges informels.
        p.content--paragraph
          | Pour profiter pleinement de cette journée il est recommandé d'avoir de bonnes notions en
          | TypeDD, TestDD, DDD, conception itérative de solutions et Event Sourcing.
          | N'hésitez pas à venir à #[a(href='https://www.meetup.com/fr-FR/software-craftsmanship-lyon/' target='_blank') nos events]
          | avant la conférence pour vous préparer au mieux.
        p.content--paragraph
          | #[a(href='https://ideme.fr' target='_blank') Ideme] a rendu l'événement possible en s'occupant de l'organisation et de l'avancement des frais.
    .line--half-slot
      +workshop-image
  +line({id: 'sponsors'})
    +content({title: 'Sponsors'})
      p.content--paragraph.-sponsors
        a(href='https://ideme.fr' target='_blank')
          img.sponsor(src='/assets/images/sponsors/logo-ideme.png' width=299 height=110 alt = 'Ideme')
        a(href='https://kaibee.fr/' target='_blank')
          img.sponsor(src='/assets/images/sponsors/logo-kaibee.png' width=110 height=110 alt = 'Kaibee')
        a(href='https://shodo.io/' target='_blank')
          img.sponsor(src='/assets/images/sponsors/logo-shodo.png' width=110 height=110 alt = 'Shodo')
        a(href='https://www.hackyourjob.org/' target='_blank')
          img.sponsor(src='/assets/images/sponsors/logo-hackyourjob.png' width=110 height=110 alt = 'Hackyourjob')
  +line({id:'planning', extraLarge: true})
    +content({title: 'Programme'})
      +info-cards
      +planning
  +line({id:'budget'})
    +content({title: 'Budget'})
      p.content--paragraph
        | Vous trouvez probablement que les places sont chères, nous aussi&nbsp;!
        | Du coup voila, en toute transparence, les élements de bugdet pour la journée.
      p.content--paragraph
        +budget
  +networks({type: 'footer'})
