block config

-const title = pageTitle ? 'XCraft | ' + pageTitle : 'XCraft'

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(property='og:url' content='https://xcraft.fr')
    meta(property='og:type' content='website')
    meta(property='og:title' content='XCraft à Lyon, le vendredi 03 novembre 2023')
    meta(property='og:description' content='XCraft est une journée pour parfaire notre maîtrise des approches plébiscitées par le Software Craftsmanship par le biais d’ateliers, de conférences et surtout d’échanges entre convives')
    meta(property='og:locale' content='fr_FR')
    block title
      title #{title}
    link(rel='stylesheet' href='[[TIKUI_BASEPATH]]assets/glyph/css/xcraft-icons.css')
    link(href='[[TIKUI_BASEPATH]]tikui.css' rel='stylesheet')
    link(rel='stylesheet' href='[[TIKUI_BASEPATH]]assets/fonts/inter/inter.css')
  body
    .main
      block body
