@import 'token/token';
@import 'atom/atom';
@import 'molecule/molecule';
@import 'organism/organism';
@import 'template/template';

* {
  margin: 0;
  padding: 0;
  color: $xcraft-secondary-color;
  font-family: Inter, serif;
}

body {
  background-color: $xcraft-page-background-color;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
