.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 35px;
  justify-content: center;

  &--link {
    display: block;
    position: relative;
    text-decoration: none;
    color: $xcraft-primary-color;
    font-size: 1.4rem;
    font-weight: 500;

    &::after {
      position: absolute;
      bottom: -5px;
      left: 0;
      transform: scale(0);
      transform-origin: center;
      transition: opacity 300ms, transform 300ms;
      opacity: 0;
      opacity: 1;
      background-color: $xcraft-primary-color;
      width: 100%;
      height: 2px;
      content: '';
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}
