mixin menu
  .menu
    a.menu--link(href='#kesako') Késako
    a.menu--link(href='#sponsors') Sponsors
    a.menu--link(href='#planning') Programme
    a.menu--link(href='#budget') Budget
    a.menu--link(href='pages/rules.html') Règles
    a.menu--link(href='pages/infos-pratiques.html') Infos pratiques
    a.menu--link(href='pages/acces.html') Accès
    a.menu--link(href='pages/contacts.html') Contacts
